<p-dialog class="prevent-select" [header]="data.headerDialog" [modal]="true" [(visible)]="visible"
          [style]="{ width: '60rem' }" (onHide)="onHideDialog()">
  <span class="p-text-secondary block mb-5">{{ data.subHeaderDialog }} </span>

  <form [formGroup]="companyForm" class="grid col"
        [style.pointer-events]="data.actionDialog === SYSTEM_ACTION.VIEW ? 'none' : 'auto'">
    <div class="col-7 flex flex-column gap-4">
      <div class="flex flex-column gap-2">
        <label for="name" class="font-semibold">Tên công ty<span class="pl-2 text-red-600">*</span></label>
        <input pInputText id="name" class="flex-auto" formControlName="companyName" placeholder="Nhập tên công ty"/>
        <div *ngIf="isFieldValid('companyName', companyForm)" class="error-message text-red-500">Tên công ty là bắt buộc
        </div>
      </div>

      <div class="flex flex-column gap-2">
        <label for="email" class="font-semibold">Email</label>
        <input pInputText id="email" class="flex-auto" formControlName="email" placeholder="Nhập email"/>
      </div>

      <div class="flex flex-column gap-2">
        <label for="corporateTaxCode" class="font-semibold">MST<span class="pl-2 text-red-600">*</span></label>
        <input pInputText id="corporateTaxCode" class="flex-auto" formControlName="corporateTaxCode"
               placeholder="Nhập mã số thuế"/>
        <div *ngIf="isFieldValid('corporateTaxCode', companyForm)" class="error-message text-red-500">MST là bắt buộc
        </div>
      </div>

      <div class="flex flex-wrap justify-content-between">
        <div class="flex flex-column gap-2" [style]="{ width: '48%' }">
          <label for="address" class="font-semibold">Địa chỉ</label>
          <input pInputText id="address" class="flex-auto" formControlName="address" placeholder="Nhập địa chỉ"/>
        </div>

        <div class="flex flex-column gap-2" [style]="{ width: '48%' }">
          <label for="phone" class="font-semibold">Phone</label>
          <input pInputText id="phone" class="flex-auto" formControlName="phone" placeholder="Nhập số điện thoại"/>
        </div>
      </div>

      <div class="flex flex-column gap-2">
        <label for="status" class="font-semibold">Trạng thái<span class="pl-2 text-red-600">*</span></label>
        <p-dropdown id="status" [options]="LIST_STATUS" formControlName="status" placeholder="Chọn trạng thái"
                    optionLabel="NAME" [optionValue]="'CODE'" [showClear]="true" [style]="{ width: '100%' }">
        </p-dropdown>
        <div *ngIf="isFieldValid('status', companyForm)" class="error-message text-red-500">Trạng thái là bắt buộc
        </div>
      </div>
    </div>

    <div class="col-5 flex flex-column gap-4">
      <div class="flex flex-column gap-2">
        <label for="" class="font-semibold">Ảnh bìa<span class="pl-2 text-red-600">*</span></label>
        <img width="200" height="200" src="{{ pathEnvironment + '/' + data.logo }}" alt="favicon"/>
        <div *ngIf="data.actionDialog !== SYSTEM_ACTION.VIEW">
          <input type="file" (change)="onFileSelected($event)" accept="image/*">
        </div>
      </div>

      <div class="flex flex-column gap-2">
        <label for="language" class="font-semibold">Lĩnh vực</label>
        <p-dropdown id="language" [options]="LIST_FIELD" formControlName="field" placeholder="Chọn lĩnh vực"
                    optionLabel="NAME" [optionValue]="'CODE'" [showClear]="true"
                    [style]="{ width: '100%' }"></p-dropdown>
      </div>

      <div class="flex flex-column gap-2">
        <label for="province" class="font-semibold">Tỉnh</label>
        <p-dropdown id="province" [options]="LIST_PROVINCE" formControlName="province" placeholder="Chọn tỉnh"
                    optionLabel="NAME" [optionValue]="'CODE'" [showClear]="true" [style]="{ width: '100%' }">
        </p-dropdown>
      </div>
    </div>

    <div class="col-12 flex flex-column gap-2" [style]="{'height':'300px'}">
      <label for="introduce" class="font-semibold">Giới thiệu</label>
      <quill-editor id="introduce" formControlName="introduce" [style]="{'height':'200px'}"
                    placeholder="Nhập nội dung tại đây..."></quill-editor>
    </div>
  </form>
  <div *ngIf="data.actionDialog !== SYSTEM_ACTION.VIEW" class="flex justify-content-end gap-2 mt-3">
    <p-button label="Cancel" severity="secondary" (click)="onHideDialog()"></p-button>
    <p-button *ngIf="data.actionDialog === SYSTEM_ACTION.CREATE" label="Create" (click)="onCreateCompany()"></p-button>
    <p-button *ngIf="data.actionDialog === SYSTEM_ACTION.UPDATE" label="Save" (click)="onUpdateCompany()"></p-button>
  </div>
</p-dialog>
